In [ ]:
# Agenda for today
# sequential objects
# slicing of sequential objects and navigation by position

In [7]:
# String

variable = 'x'
variable = 'multiple letters'

In [13]:
# Using slicing to manipulate strings
# Python begins counting at position 0
# For slicing we always use square brackets []
variable[0]

'm'

In [14]:
# to return the first 3 values of the string, we can start at position 0 and slice UP TO, but NOT INCLUDING position 3
# the position on the right hand of the colon symbol (:) is exclusive
variable[0:3]

'mul'

In [15]:
# negative positions allows us to slice from the ending point
variable[-1]

's'

In [16]:
# when slicing from the end, we start with the left-most position; since the range is UP TO, but NOT INCLUDING, the last value is excluded
variable[-3:-1]

'er'

In [17]:
# you can also slice by giving a starting point with a colon (:), which will return everything until the end
# in this example we are returning everything starting at position -3 until the end
variable[-3:]

'ers'

In [18]:
# We can also do the opposite; if you don't specify a starting point, the slice will start at the beginning
variable[:6]

'multip'

In [20]:
area = "ON"
product_name = "prod_345"
# Let's say we want to concatenate two strings
product_code = area + product_name

In [21]:
product_code
product_code = area + "_" + product_name
product_code

'ON_prod_345'

In [24]:
product = "ON Prod 75"
updated_product = product.replace("ON","BC")
updated_product

'BC Prod 75'

In [25]:
list_of_provinces = "AB, ON, MB, SK, BC, PEI, NB, NS, QB"
# clean up the province list
no_comma_list = list_of_provinces.replace(",","")

In [29]:
# Now we can use the split function to split the string into a LIST of strings representing each province
list_of_provinces2 = no_comma_list.split(" ")
list_of_provinces2

['AB', 'ON', 'MB', 'SK', 'BC', 'PEI', 'NB', 'NS', 'QB']

In [30]:
# in a more complex scenario, you may need to use replace to clean up the string before you can split
complex_string = "AB, &london, ON, %special, BC"
complex_string = complex_string.replace("&london, ","")
complex_string = complex_string.replace("%special, ","")
complex_string.split(",")

['AB', ' ON', ' BC']

In [31]:
# remove leading and lagging whitespace
product_code = "   ON product 123 new    "

In [32]:
# the strip function will remove that
product_code.strip()

'ON product 123 new'

In [33]:
product_code=product_code.strip()
product_code=product_code.replace(" ", "")
product_code

'ONproduct123new'

In [42]:
# some changes are INPLACE changes (meaning they will permanently alter your object)
# others are NOT inplace changes, meaning the alteration is temporary and if you want to save it, you need to overwrite your object

product_code_orig = "ON_123_45_product_17"
product_code_second = "123_456_78_BC"

In [37]:
product_code_orig = "ON_123_45_product_17"
# In this example we are combining the replace function with a slicing operation
product_code_orig.replace("_"," ")[0:2]

'ON'

In [43]:
# instead, I can embed the find() function in the slicing operation
# we need to make BOTH sides of slice dynamic
print(product_code_orig[product_code_orig.find("ON"):product_code_orig.find("ON")+2])
print(product_code_second[product_code_second.find("BC"):product_code_second.find("BC")+2])

ON
BC

In [38]:
# check the string type
text = "12546"
text.isdigit()
text2 = "edr234"
text2.isalnum()

True

In [39]:
# since python is case sensitive, having the same word in different cases can cause challenges in cleaning
# best practice is to make everything lower, upper, or title case so all programs will work
string1 = "ontario"
string2 = "Ontario"

In [40]:
# since the case is different in each one, these two words are not considered the same
string1 == string2

False

In [41]:
# if we make them both lowercase, they will be the same
string1.lower() == string2.lower()

True

In [44]:
# List and Opeartions
# create a list - lists use square brackets to be defined []
# create a list of customer account balances
account_balances = [250, 150, 25, 380, 456, 987, 254, 64] # a list of integers
customer_names = ["Joe", "Marie", "Bob", "Sam", "Sarah", "Finn", "Mike", "Ryan"] # a list of strings

In [45]:
# another way to confirm the type of object you are working with is to use the type() function
type(account_balances)

list

In [46]:
# some operations are object agnostic, and apply to a category of object types
# for example, slicing can be applied to all sequential objects
# for example, we can slice a list in the exact same way as a string
customer_names[0]

'Joe'

In [47]:
# when isolating a single item from a list, the output will be that item type. in the example below, this is a string
# this means, we can now use string methods on this item

customer_names[0].lower() # here i'm applying the string method to a single string

'joe'

In [48]:
# if i slice more than one object, then the output will be a smaller list
customer_names[0:4]

['Joe', 'Marie', 'Bob', 'Sam']

In [50]:
# let's start with the append function
# unlike string operations, all of the list operations are INPLACE > meaning, they make a permanent change to your list
customer_names.append("Patrick")
print(customer_names)

['Joe', 'Marie', 'Bob', 'Sam', 'Sarah', 'Finn', 'Mike', 'Ryan', 'Patrick', 'Patrick']

In [51]:
# the extend() function allows you to add MULTIPLE items to your list
customer_names.extend(['Ann', 'Sharon', "David"]) # when adding multiple items, we need to put the items themselves in a LIST

In [52]:
customer_names

['Joe',
 'Marie',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'Ryan',
 'Patrick',
 'Patrick',
 'Ann',
 'Sharon',
 'David']

In [53]:
# insert() allows us to add a value in a SPECIFIC POSITION
# let's insert a value in position 2 which is the 3rd position
customer_names.insert(2, "inserted")

In [54]:
customer_names

['Joe',
 'Marie',
 'inserted',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'Ryan',
 'Patrick',
 'Patrick',
 'Ann',
 'Sharon',
 'David']

In [55]:
# remove based on position first
customer_names.pop(-1)

'David'

In [56]:
customer_names

['Joe',
 'Marie',
 'inserted',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'Ryan',
 'Patrick',
 'Patrick',
 'Ann',
 'Sharon']

In [57]:
# remove based on value
customer_names.remove('inserted')

In [58]:
customer_names

['Joe',
 'Marie',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'Ryan',
 'Patrick',
 'Patrick',
 'Ann',
 'Sharon']

In [59]:
customer_names = ["Joe", "Marie", "Bob", "Sam", "Sarah", "Finn", "Mike", "Ryan"] 
customer_names.insert(-1,'g')
customer_names

['Joe', 'Marie', 'Bob', 'Sam', 'Sarah', 'Finn', 'Mike', 'g', 'Ryan']

In [60]:
# for example, let's say we want to insert a new value in the position where Bob currently is, but we don't know that position
# we can use the index() function
customer_names.insert(customer_names.index('Bob'),"new_name")

In [61]:
customer_names

['Joe',
 'Marie',
 'new_name',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'g',
 'Ryan']

In [62]:
#let's append a new customer with the same name as a prior one
customer_names.append('Sarah')

In [63]:
customer_names

['Joe',
 'Marie',
 'new_name',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'g',
 'Ryan',
 'Sarah']

In [64]:
customer_names.count('Sarah')

2

In [65]:
# sort() will return the list in alphabetical order
customer_names.sort()
customer_names

['Bob',
 'Finn',
 'Joe',
 'Marie',
 'Mike',
 'Ryan',
 'Sam',
 'Sarah',
 'Sarah',
 'g',
 'new_name']

In [66]:
# reverse() will reverse the list
customer_names.reverse()
customer_names

['new_name',
 'g',
 'Sarah',
 'Sarah',
 'Sam',
 'Ryan',
 'Mike',
 'Marie',
 'Joe',
 'Finn',
 'Bob']

In [67]:
# if you want to organize the list from largest to smallest (or reverse alphabetical), use reverse=True as a param in the sort() function
account_balances.sort(reverse=True)
account_balances

[987, 456, 380, 254, 250, 150, 64, 25]

In [68]:
# let's say we want to make a copy of the list to edit a new version
# if we simply set a new variable equal to an existing variable, essentially we are creating a new reference to the SAME object
# any edits applied to the new reference, will ALSO be applied to the original, as demonstrated below
account_balances2 = account_balances

In [69]:
account_balances
account_balances2.append(17)
print(account_balances)
print(account_balances2)

[987, 456, 380, 254, 250, 150, 64, 25, 17]
[987, 456, 380, 254, 250, 150, 64, 25, 17]

In [70]:
# to combat this, we use the copy() function to create a shallow copy of the list so we can make edits
account_balances2 = account_balances.copy()
account_balances2.append(10)
print(account_balances)
print(account_balances2)

[987, 456, 380, 254, 250, 150, 64, 25, 17]
[987, 456, 380, 254, 250, 150, 64, 25, 17, 10]

In [76]:
original_list = [[1,2,3],[4,5,6]]
copy = original_list.copy()
original_list[0][0] = 'new_value'
original_list

['new_value1', [4, 5, 6]]

In [77]:
#both are same even if we created a copy because copy function creates a shallow copy so it will create copy for outer list not nested list,therefore we see same output for original and copy list
original_list
copy

[['new_value', 2, 3], [4, 5, 6]]

In [79]:
# now let's look at tuples. Python defines a tuple with ROUND brackets ()
tuple1 = (15, 25, 85, 68)
tuple2 = ('name', 'address', 'age')
type(tuple1)

tuple

In [80]:
# we can still slice a tuple, the same way as a list and a string
tuple1[0]

15

In [81]:
# we can access the index() function to show us the position of a value
tuple1.index(15)

0

In [82]:
# we can also access the count() function in tuples
tuple1.count(15)

1

In [ ]:
# tuples does not support item assignment and copy as well

In [ ]:
#tuples are immutable while lists are mutable

In [92]:
# the last sequential object we will cover today is called a SET. A set uses curly brackets {}
all_customers = {"Sarah","Marie","Angela",'John',"Bob",'Sam'}
active_customers = {"Sarah",'Marie','John'}
churned_customers = {"Frank", "James", "Bob", "Sam"}

In [93]:
#sets can ONLY hold unique values. Let's say you have a list of duplicates
list1 = [15, 15, 25, 25, 78, 89]

In [94]:
# if you convert the list to a SET, only the unique values will remain
set(list1)

{15, 25, 78, 89}

In [95]:
# with sets we can identify similarities and differences between collections
# let's find INACTIVE customers in our customer base
# the difference() function, when applied to the all_customers set, will return ALL customers who exist in all_customers but NOT in active_customers
all_customers.difference(active_customers)

{'Angela', 'Bob', 'Sam'}

In [96]:
# let's find customers in the all_customers SET who ALSO appear in the active_customers
all_customers.intersection(active_customers)
all_customers.intersection(churned_customers)

{'Bob', 'Sam'}

In [97]:
all_customers.intersection(churned_customers)

{'Bob', 'Sam'}

In [98]:
# sets are MUTABLE objects, so you can make similar changes as you can with lists; however remember that sets don't support duplicate values
# to add a new value to a SET, we use add() -- the equivalent for a list object is append()
all_customers.add("Jack")

In [99]:
# union() will combine two sets while removing duplicates
all_customers.union(active_customers)
churned_customers.union(all_customers)

{'Angela', 'Bob', 'Frank', 'Jack', 'James', 'John', 'Marie', 'Sam', 'Sarah'}

In [100]:
# use issuperset() to check if a set containts a smaller set
all_customers.issuperset(active_customers)

True