In [ ]:
# Agenda for today
# sequential objects
# slicing of sequential objects and navigation by position

In [7]:
# String

variable = 'x'
variable = 'multiple letters'

In [13]:
# Using slicing to manipulate strings
# Python begins counting at position 0
# For slicing we always use square brackets []
variable[0]

'm'

In [14]:
# to return the first 3 values of the string, we can start at position 0 and slice UP TO, but NOT INCLUDING position 3
# the position on the right hand of the colon symbol (:) is exclusive
variable[0:3]

'mul'

In [15]:
# negative positions allows us to slice from the ending point
variable[-1]

's'

In [16]:
# when slicing from the end, we start with the left-most position; since the range is UP TO, but NOT INCLUDING, the last value is excluded
variable[-3:-1]

'er'

In [17]:
# you can also slice by giving a starting point with a colon (:), which will return everything until the end
# in this example we are returning everything starting at position -3 until the end
variable[-3:]

'ers'

In [18]:
# We can also do the opposite; if you don't specify a starting point, the slice will start at the beginning
variable[:6]

'multip'

In [20]:
area = "ON"
product_name = "prod_345"
# Let's say we want to concatenate two strings
product_code = area + product_name

In [21]:
product_code
product_code = area + "_" + product_name
product_code

'ON_prod_345'

In [24]:
product = "ON Prod 75"
updated_product = product.replace("ON","BC")
updated_product

'BC Prod 75'

In [25]:
list_of_provinces = "AB, ON, MB, SK, BC, PEI, NB, NS, QB"
# clean up the province list
no_comma_list = list_of_provinces.replace(",","")

In [29]:
# Now we can use the split function to split the string into a LIST of strings representing each province
list_of_provinces2 = no_comma_list.split(" ")
list_of_provinces2

['AB', 'ON', 'MB', 'SK', 'BC', 'PEI', 'NB', 'NS', 'QB']

In [30]:
# in a more complex scenario, you may need to use replace to clean up the string before you can split
complex_string = "AB, &london, ON, %special, BC"
complex_string = complex_string.replace("&london, ","")
complex_string = complex_string.replace("%special, ","")
complex_string.split(",")

['AB', ' ON', ' BC']

In [31]:
# remove leading and lagging whitespace
product_code = "   ON product 123 new    "

In [32]:
# the strip function will remove that
product_code.strip()

'ON product 123 new'

In [33]:
product_code=product_code.strip()
product_code=product_code.replace(" ", "")
product_code

'ONproduct123new'

In [42]:
# some changes are INPLACE changes (meaning they will permanently alter your object)
# others are NOT inplace changes, meaning the alteration is temporary and if you want to save it, you need to overwrite your object

product_code_orig = "ON_123_45_product_17"
product_code_second = "123_456_78_BC"

In [37]:
product_code_orig = "ON_123_45_product_17"
# In this example we are combining the replace function with a slicing operation
product_code_orig.replace("_"," ")[0:2]

'ON'

In [43]:
# instead, I can embed the find() function in the slicing operation
# we need to make BOTH sides of slice dynamic
print(product_code_orig[product_code_orig.find("ON"):product_code_orig.find("ON")+2])
print(product_code_second[product_code_second.find("BC"):product_code_second.find("BC")+2])

ON
BC

In [38]:
# check the string type
text = "12546"
text.isdigit()
text2 = "edr234"
text2.isalnum()

True

In [39]:
# since python is case sensitive, having the same word in different cases can cause challenges in cleaning
# best practice is to make everything lower, upper, or title case so all programs will work
string1 = "ontario"
string2 = "Ontario"

In [40]:
# since the case is different in each one, these two words are not considered the same
string1 == string2

False

In [41]:
# if we make them both lowercase, they will be the same
string1.lower() == string2.lower()

True